@CHARSET "UTF-8";

body {
	color: #EEEEEE;
	font-family: sans-serif;
	background-color: #222222;
}
label{
	font-variant: small-caps;
	font-family: fantasy;
	font-size:20px;
	font-weight: 300;
}
div{
	margin-left: 5%;
}



div.info_box{
	color: #222222;
	border-radius:5px;
	-moz-border-radius:5px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	padding: 20px;
	margin-left: 5%;
	margin-bottom:1%;
	margin-top:1%;
	background: #AAAAAA;
	width: 75%;
	min-height: 100px;
	overflow: auto;
}
h2{
	margin-left:35%;
	font-variant: small-caps;
	font-size: 50px;
}
h3{
	font-variant: small-caps;
	font-family: fantasy;
}

p.desc{
	font-variant: small-caps;
	font-family: fantasy;
	font-size:30px;
	margin-left: 20%;
	margin-bottom:20px;
}